<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>StudentSkillsPlatformTemplate</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css} "/>
    <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css} "/>
    <link rel="stylesheet" th:href="@{/fonts/fontawesome5-overrides.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/Bootstrap-Chat.css} "/>
    <link rel="stylesheet" th:href="@{/css/Footer-Basic.css} "/>
    <link rel="stylesheet" th:href="@{/css/Login-Form-Clean.css} "/>
    <link rel="stylesheet" th:href="@{/css/Profile-Edit-Form-1.css} "/>
    <link rel="stylesheet" th:href="@{/css/Profile-Edit-Form.css} "/>
    <link rel="stylesheet" th:href="@{/css/Search-Field-With-Icon.css} "/>
    <link rel="stylesheet" th:href="@{/css/styles.css} "/>
    <link rel="stylesheet" th:href="@{/css/Table-with-search-1-1.css} "/>
    <link rel="stylesheet" th:href="@{/css/Table-with-search-1.css} "/>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col"><img class="img-fluid" th:src="@{/img/welcome.png}" style="text-align: justify;" /></div>      
            <div class="col float-left">
                <section class="login-clean">
                    <form th:action="@{/login}" method="post">
                        <h2 class="sr-only">Login Form</h2>
                        <div class="illustration"><img class="img-fluid" th:src="@{/img/brookeslogo@2x.png}" />
                            <div></div>
                            <h6 style="color: #424A52;font-family: Georgia;">Making professional connections personal</h6>
                        </div>
                        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required /></div>
                        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required /></div>
                        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" value="Login" style="background: #2699FB;" />Log In</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script th:src="@{/static/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/Profile-Edit-Form.js}"></script>
    <script th:src="@{/static/js/Table-with-search-1.js}"></script>
</body>

</html>